.box {
  background: #354b57;
  border-radius: 16px;

  .title {
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: space-between;
    .value {
      opacity: 0.5;
    }
  }

  .title,
  .component {
    padding: 16px 20px;
  }

  .component {
    display: flex;
    justify-content: center;
  }
}

.size {
  grid-area: brush-size;
}

.pattern {
  grid-area: brush-pattern;
}

.size,
.mean,
.std {
  //width: 280px;
}

.pattern,
.colorPickerBox,
.brushShape {
  width: 340px;
}

.tablet,
.mobile {
  .box {
    width: 340px;
  }
}
