@import "colors";

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.leftArrow {
  transform: rotate(180deg);
  margin-left: 26px;
}

.carouselWrapper {
  overflow: hidden;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}

.carouselWrapper * {
  box-sizing: border-box;
}

.image {
  &.hidden {
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    margin: auto;
    padding: 1rem 4rem;
    z-index: 100;
    transition: transform 0.5s, opacity 0.5s, z-index 0.5s;
  }

  &.visible,
  &.active {
    opacity: 1;
    position: relative;
    z-index: 900;
    transition: opacity 500ms ease-in-out;
  }

  &.selected {
    border: solid 2px $neonGreen;
  }
}

.previousSlide {
  transform: translateX(-100%);
}
