.header {
  //position: fixed;
  //left: 0;
  //top: 0;
  //width: 100%;
  //height: 60px;
  //padding: 0;
  background: #172227;
  //z-index: 5;

  .logo {
    float: left;
    margin: 0;
    padding: 0 4rem;
    font-size: 1.4rem;
    line-height: 60px;
    font-weight: 600;
    color: #fff;
    background: linear-gradient(to right, #e2e98c, #8ce99b, #8ce9d8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
