@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import "colors";

html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: #fafafa;
  font-weight: 400;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  font-family: "Poppins", sans-serif;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-gap: 3em;
}

body {
  background: #25353e;
  color: white;
  justify-content: center;
}

.responsiveView {
  height: 75%;
  width: 100vw;
  margin: 0 20px;
}

.content {
  background: #25353e;
  display: inherit;
  grid-template-columns: 340px auto 340px; //1fr 2fr 1fr;
  gap: 30px;
  margin: 0 8em;
  &.mobile {
    background: #25353e;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

.left,
.right {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
}

.rangeInput {
  margin: 0 10px;
  width: 100%;
}

.tooltip {
  width: 100px;
  height: 80px;
  background: lime;
  position: absolute;
  left: 128px;
}

.thumbnailsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(auto-fill, 50px);
  grid-row-gap: 1.5em;
  grid-column-gap: 1em;
  align-items: center;
  justify-items: center;
}

.thumbnailImage {
  &.selected {
    border: solid 2px #8ce9d2;
  }
}

.shapesContainer {
  display: flex;
  height: 40px;
  align-items: center;
  div {
    cursor: pointer;
    &.selected {
      background: linear-gradient(to right, #e2e98c, #8ce9a6, #8ce9d8);
      opacity: 1;
    }
  }
}

.round {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  border-radius: 50%;
  background: #25353e;
  opacity: 0.8;
}

.square {
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background: #25353e;
  opacity: 0.8;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  .selectedImage {
    width: 700px;
  }
}

.box {
  width: 340px;
}

.axis path,
.axis line {
  shape-rendering: crispEdges;
}

.canvas-container,
.carousel-container,
.image-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.canvas-container {
  width: 700px;
  height: 460px;
  background: $darkNavy;
  border-radius: 16px;
}

.carousel-container {
  width: 700px;
  height: 107px;
  background: $darkNavy;
  border-radius: 16px;
}
