@import "colors";

input[type="range"] {
  border-radius: 25px;
  height: 10px;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  margin: 10px 0;
}

.box {
  &.size {
    input[type="range"] {
      background: linear-gradient(
        to right,
        $yellow 0%,
        $green 25%,
        $mint 42%,
        $navy 42%,
        $navy 100%
      );
    }
  }
  &.mean {
    input[type="range"] {
      background: linear-gradient(
        to right,
        $yellow 0%,
        $green 25%,
        $mint 50%,
        $navy 50%,
        $navy 100%
      );
    }
  }

  &.std {
    input[type="range"] {
      background: linear-gradient(
        to right,
        $yellow 0%,
        $green 25%,
        $mint 50%,
        $navy 50%,
        $navy 100%
      );
    }
  }
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: $mint;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1);
}

input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  width: 18px;
  height: 18px;
  background: $mint;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 1);
}
